@mixin reset {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}

@for $x from 0 through 100 {
  .vw-#{$x} {
    width: #{$x}vw;
  }
}
